.floating_button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--color-primary);
  color: white;
  padding: 0.75rem 1.25rem;
  border-radius: 50px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: var(--shadow-2_2_4);
  z-index: 999;
  border-radius: 50%;
  animation: pulse 1.5s infinite ease-in-out;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.range_content {
  display: flex;
  gap: var(--space-md);
}

.icon {
  min-width: 22px;
  min-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
