.sidebar {
  width: auto;
  /* min-width: 35%; */
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--app-background);
  overflow: hidden;
  box-shadow: var(--shadow-left);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  &.open {
    transform: translateX(0);
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: scroll;

    .close {
      position: absolute;
      top: var(--space-1);
      right: var(--space-1);
      cursor: pointer;
    }
  }
}
