.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  position: relative;

  .inputContainer {
    position: relative;

    .input {
      width: 100%;
      min-width: 250px;
      color: var(--input-fg);
      background-color: var(--input-bg);
      padding: var(--space-2) var(--space-3);
      border-radius: var(--space-2);
      border: 1px solid var(--input-border);
      line-height: var(--space-xs);
      outline: none;
    }

    .input:disabled {
      background-color: var(--color-disabled);
      cursor: not-allowed;
      box-shadow: none;
      color: var(--color-text-tertiary);
    }

    .input.error {
      border-color: var(--color-error);
    }

    a {
      position: absolute;
      right: var(--space-1);
      top: var(--space-1);
      background-color: var(--input-bg);
      padding: var(--space-1);
      border-radius: var(--space-xs);
    }

    a.error {
      color: var(--color-error);
    }
  }

  label {
    font-weight: var(--fw-medium);
  }

  span {
    font-size: var(--fs-xs);
    font-weight: var(--fw-medium);
    color: var(--color-error);
  }
}
