.container {
  width: 100%;
  /* overflow-x: auto; */
  /* border-radius: 0.75rem;
  border: 1px solid #e5e7eb; */
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

.table thead {
  background-color: #f9fafb;
  border-bottom: 1px solid #e5e7eb;
  position: relative;
}

.table th {
  text-align: left;
  padding: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #4b5563;
  white-space: nowrap;
}

.table td {
  padding: 1rem;
  font-size: 0.875rem;
  color: #374151;
  border-top: 1px solid #f3f4f6;
}

.table tr:hover {
  background-color: #f9fafb;
  transition: background-color 0.2s ease;
}

.table tr:nth-child(even) td {
  background-color: #fcfcfc;
}

.headerCell {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  cursor: pointer;
}

.filter_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-sm);
  padding: 0 var(--space-sm);
  transition: all 0.3s ease;
  background-color: var(--app-background);
  z-index: 2;
}

.filter_options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-sm);
}