.button {
  position: relative;
  width: 100%;
  padding: var(--space-2) var(--space-3);
  border-radius: var(--space-xs);
  cursor: pointer;
  box-shadow: var(--shadow-0_2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
  transition: all 0.3s;

  span {
    font-weight: var(--fw-semibold);
  }
}

.button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
  box-shadow: none;
}

.primary {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }

  span {
    color: var(--app-foreground-invert);
  }
}
.secondary {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }

  span {
    color: var(--app-foreground);
  }
}

