.sidebar {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-8);
  background-color: var(--app-background);
  transition: width 0.5s ease;
  overflow: hidden;
  padding: var(--space-3) var(--space-2) var(--space-1);
  box-shadow: var(--shadow-3_0_2);
  z-index: 998;
}

.sidebar:hover {
  width: 180px;
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--space-4);
}

.menu_item,
.menu_item_link {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: var(--space-1);
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: var(--space-xs);
}

.menu_item {
  width: unset;
}

.menu:hover .menu_item,
.menu_item:hover {
  width: 100%;
}

.active,
.menu_item_link:hover {
  background-color: var(--color-primary);
  color: var(--app-background);
}

.menu_item:last-child {
  margin-top: auto;
}

.menu_item_link {
  text-decoration: none;
  margin: 0;
}

.icon {
  min-width: 22px;
  min-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  opacity: 0;
  display: none;
  white-space: nowrap;
  transition: opacity 0.2s ease 0.1s;
}

.sidebar:hover .label {
  opacity: 1;
  display: inline;
}
