.loader {
  /* right: var(--space-4); */
  width: 48px;
  height: 48px;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

.auto {
  position: relative;
}

.start {
  position: absolute;
  left: var(--space-4);
}

.end {
  position: absolute;
  right: var(--space-4);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.primary {
  border-color: var(--app-foreground-invert);
}

.secondary {
  border-color: var(--app-foreground);
}

.small {
  width: 16px;
  height: 16px;

  &:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 1px solid;
    animation: prixClipFix 2s linear infinite;
  }
}

.medium {
  width: 24px;
  height: 24px;

  &:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 2px solid;
    animation: prixClipFix 2s linear infinite;
  }
}

.large {
  width: 48px;
  height: 48px;

  &:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 3px solid;
    animation: prixClipFix 2s linear infinite;
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
