.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  position: relative;

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;

    .menu {
      list-style: none;
      display: flex;
      gap: var(--space-2);
      padding: 0 var(--space-4);
      margin: 0;
      border-radius: var(--space-4);
      box-shadow: var(--shadow-0_2);

      li {
        padding: 0 var(--space-3);
        margin: 0;
        transition:
          background-color 0.3s ease,
          color 0.3s ease;
        border-radius: var(--space-4);
        font-size: var(--fs-xs);
        cursor: pointer;
      }
    }
  }

  label {
    font-weight: var(--fw-medium);
    font-size: var(--fs-xs);
  }
}

.active {
  background-color: var(--color-primary);
  color: var(--app-foreground-invert);
  transform: scale(1.10);
}
