.separator {
  position: relative;
  width: 100%;
  height: .5px;
  border: 0;
  border-radius: var(--space-xs);
  background-color: var(--app-foreground);

  span {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 0 var(--space-xs);
    font-size: var(--fs-xs);
    white-space: nowrap;
    background-color: var(--app-background);
    text-align: center;
  }
}
