.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  padding: var(--space-md) var(--space-lg);
}

.user_table_content {
  width: 100%;
  max-height: 45vh;
  min-height: 30vh;
  overflow: auto;
  padding: var(--space-sm) var(--space-sm);
  display: flex;
  flex-direction: column;
  border-radius: var(--space-xs);
  box-shadow: var(--shadow-0_2);
}

.chats_content {
  max-height: 45vh;
  display: flex;
  gap: var(--space-md);
  /* padding: var(--space-sm) var(--space-sm); */
  align-items: center;
  
}

.row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--space-md);
  min-height: 75vh;
}

.col {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: var(--space-md);
}

.filter_container {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: var(--space-sm);
  padding: 0 var(--space-sm);
  transition: all 0.3s ease;
  background-color: var(--app-background);
  z-index: 2;
}

.filter_options {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-sm);
}

.form_container {
  width: 100%;
  height: 100%;
  padding: var(--space-6) var(--space-8);
  display: flex;
  flex-direction: column;
  gap: var(--space-10);
}

.form_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);

  span {
    font-size: var(--fs-sm);
    font-weight: var(--fw-semibold);
  }
}

.form_selector_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-4);
}

.form_date_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-4);
}
